body {
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
}
/*------- HEADER -------*/

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  border-bottom: 3px solid black;
}

.logo-img{
  font-size: 1rem;
  height:100px;
  width:auto;
}

.nav-btn{
  margin-left: 1cm;
  text-decoration: none;
  color:cornflowerblue;
  background-color:khaki;
  font-weight: 500;
  padding: 0.8rem;
  border-radius: 20% 40%;
}

.nav-btn:hover{
  background-color: rgb(227, 206, 13);
}

/*-----LANDING PAGE-----*/
.banner{
  background-color:khaki;
  text-align: center;
  padding:6rem 1rem;
}

.about{
  padding:2rem;
}

/*---slike landing page-a---*/
.about-grid{
  display: flex;
  justify-content:space-evenly;
  gap:2rem;
  margin-top: 5rem;
}

.about-box{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: khaki;
  width:500px;
  height: 400px;
  border-radius: 20%;
}